[submodule "rawgps-tools"]
	path = rawgps-tools
	url = git@github.com:uf-mil/rawgps-tools.git
[submodule "software-common"]
	path = software-common
	url = git@github.com:uf-mil/software-common.git
[submodule "hardware-common"]
	path = hardware-common
	url = git@github.com:uf-mil/hardware-common.git
[submodule "SubjuGator"]
	path = SubjuGator
	url = git@github.com:uf-mil/SubjuGator.git
[submodule "PropaGator"]
	path = PropaGator
	url = git@github.com:uf-mil/PropaGator.git
[submodule "txros"]
	path = txros
	url = git@github.com:txros/txros.git
